img.main-image
{
					margin-top: 36px;
					margin-bottom: 0;
}

input.default-btn:hover {
					background-color: #fff;
					border-color: #5e2c6c;
					color: #5e2c6c;
}

.default input.input-error, .default textarea.input-error {
					border: 1px solid #F00;	
}

#product .info p {
					padding-bottom: 12px;	
}

#search-form {
	z-index: -1;	
}

#product .images a.fancybox {
	display: block;
	min-height: 456px;
   line-height: 456px;	
}

#product .images a.fancybox img {
	vertical-align: middle;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;	
}

@media screen and (max-width:980px)
{
	#product .images a.fancybox {
		display: block;
		min-height: auto;	
	   line-height: auto;	
	}
}

/*Where to buy*/

.store-locator input,.store-locator textarea,.store-locator select,.store-locator button {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(94, 44, 108, 0.4);
    display: block;
    line-height: 37px !important;
    margin-bottom: 18px !important;
    padding: 7px 24px !important;
    position: relative;
    transition: all 0.3s ease-out 0s;
    width: 100% !important;
}
.store-locator select{height:53px;}
.store-locator button {cursor:pointer;}
.store-locator .col-3{width:38%;margin-right:2%;float:left;}
.store-locator .col-8{width:20%;float:left;}
#map_wrapper {
height: 550px;
}
#map_canvas {
	width: 100%;
	height: 100%;
}
.dealers-listing{padding-top: 70px; padding-bottom: 70px;}
.dealers-listing .dealer-head{font-size: 30px; margin-bottom: 15px; padding-bottom: 12px; }
.dealers-listing ul{list-style:none;}
.dealers-listing li{border-top: 1px solid #000; clear: both;margin-left:0!important;}
.dealer-address h4,p{padding-bottom:0px!important;}
.single-dealer{padding-left: 0; margin-top: 35px; margin-bottom: 34px;}
.single-dealer .dealer-logo{float: left; border: 1px solid #000; width: 196px; height: 196px; overflow: hidden; margin-left: -220px; position: relative;}
.dummy { padding-top: 100%; /* forces 1:1 aspect ratio */}
.img-container {position: absolute; top: 0; bottom: 0; left: 0; right: 0; text-align:center; /* Align center inline elements */ }
.img-container:before {content: ' '; display: inline-block; vertical-align: middle; height: 100%;}
.img-container img { vertical-align: middle; display: inline-block; max-width: 100%;}
.single-dealer .dealer-logo img{display: table-cell; vertical-align: middle; width: auto;}
.single-dealer p{margin-bottom: 8px; font-size: 18px;}
.single-dealer p span{font-weight: 600;}
.single-dealer .dealer-title{font-size: 24px; font-weight: 600; margin-bottom: 10px;}
/****info box on map********/
.single-dealer.single-d-map{padding-left: 0;width: 380px; margin-top: 5px; margin-bottom: 5px;}
.single-dealer.single-d-map .dealer-title{font-size:14px; margin-bottom: 5px;}
.single-dealer.single-d-map .dealer-logo{width: 102px; height: 102px; margin-left: -115px;}
.single-dealer.single-d-map p{font-size: 11px; margin-bottom: 2px;line-height:20px;}
/*Where to buy*/

.online-retailers {
	list-style-type: none;
}

.online-retailers li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


/*REDESIGN*/
img.shareIcon {
	width: 18px;
	position: absolute;
    top: 21px;
    right: 0;
}
.sf-menu li#menu-item-45 {
	background-color:#453048;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	width: 98px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	margin-top: 8px;
	box-shadow: 3px 5px 20px rgba(0,0,0,0.5);
}
.sf-menu li#menu-item-45 a {
	color:#fff;
	padding: 0;
	padding-top: 7px;
}
ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.sf-menu {
	text-align: left;
}
.sf-menu li {
	font-family: 'Proxima Nova';
	letter-spacing: 2px;
	font-size: 13px;
}
.homeHero {
	height: 700px;
	width: 100%;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
.homeHeroContent {
	padding-top:150px;
	width: 100%;
	text-align: center;
}
.homeHeroContent h1 {
	font-family: 'Selima';
	font-weight: normal;
	font-size: 130px;
	color:#5f4067;
	margin-bottom: 0;
	padding-bottom: 0;
}
.homeHeroContent h4 {
	font-family: 'Proxima Nova Th';
	font-size:40px;
	font-weight: 100;
	letter-spacing: 1px;
	color:#5f4067;
	text-transform: lowercase;
	-webkit-font-smoothing: antialiased;
}
.homeHeroContent button {
	background-color:rgba(164, 147, 165, 0.8);
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	border: 0;
	border-radius: 3px;
	padding: 12px;
	width: 185px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
}

.homeHeroContent a button {
	color:#fff;
}
 .homeHeroContent button:hover {
	background-color:rgba(164, 147, 165, 1);
	cursor: pointer;
}

.homeSectionOne {
	overflow: hidden;
	background-size: 35%;
	background-position: left center;
	background-repeat: no-repeat;
}
.homeSectionOneLeft {
	float: left;
	width: 35%;
}
.homeSectionOneRight {
	float: right;
	width: 65%;
	background-color: #fff;
	padding: 30px 60px 100px 60px;
}
.homeSectionOneRightText {
	width: 70%;
}
.homeSectionOneRight h4 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 40px;
	color:#d7b34d;
	-webkit-font-smoothing: antialiased;
}

.homeSectionOneRight p {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 18px;
	color:#231f20;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	margin-bottom: 5px;
}
.homeSectionOneRight a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;

}
img.dash {
	width: 50px;
}


.homeSectionTwo {
	overflow: hidden;
	background-size: 35%;
	background-position: right center;
	background-repeat: no-repeat;
}
.homeSectionTwoRight {
	float: right;
	width: 30%;
}
.homeSectionTwoLeft {
	float: left;
	width: 70%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 100px 50px;
}

.homeSectionTwoLeftText {
	width: 70%;
	background-color: #fff;
	margin: 0 auto;
}

.homeSectionTwoLeft a {
	background-color:#453048;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	width: 98px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	padding: 9px 14px;
	margin-top: 8px;
	box-shadow: 3px 5px 20px rgba(255,255,255,0.5);

}
.homeSectionTwoLeftText {
	padding: 25px;
}
.homeSectionTwoLeftText h3 {
	font-family: 'Selima';
	font-weight: normal;
	color:#b53368;
	font-size: 46px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.homeSectionTwoLeftText p {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 14px;
	color:#231f20;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	margin-bottom: 5px;
	width: 90%;
}
.newsletterSection {
	height: 80px;
	width: 100%;
	background-color: #fff;
}

.newsletterSectionWrapper {
	width: 970px;
	margin: 0 auto;
	padding-top: 25px;
		text-align: center;
}

.newsletterSection h5 {
	font-family: 'Selima';
	font-weight: normal;
	color:#006471;
	font-size: 22px;
	letter-spacing: 2px;
	display: inline-block;
	vertical-align: top;
}
form.newsletterForm {
	display: inline-block;
	vertical-align: top;
}
form.newsletterForm input{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}
form.newsletterForm input[type="email"] {
		font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:rgba(35, 31, 32, 0.35);
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border:1px solid rgba(157, 184, 190, 0.55);
	width:160px;
	padding-top: 1px;
	padding-left: 8px;
	height: 32px;
}
form.newsletterForm input[type="submit"] {
	background-color:#9db8be;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border: 0;
	width: 85px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#fff;
	height: 32px;
	margin-left: -5px;
}
.midHero {
	height: 550px;
	width: 100%;
	background-size: cover;
	background-position: 85% center;
	background-repeat: no-repeat;
	padding-top: 1%;
	position: relative;
	z-index: 1;
}
.midHeroBorder {
	width: 98%;
	margin: auto;
	height: 98%;
	border: 1px solid #fff;
}
.midHeroContent {
	padding-top:75px;
	width: 100%;
	text-align: center;
}
.midHeroContent h1 {
	font-family: 'Selima';
	font-weight: normal;
	font-size: 130px;
	color:#fff;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1em;
}
.midHeroContent h4 {
	font-family: 'Proxima Nova Th';
	font-size:40px;
	font-weight: 100;
	letter-spacing: 1px;
	color:#fff;
	text-transform: capitalize;
	-webkit-font-smoothing: antialiased;
	margin-top: 0;
	padding-top: 0;
	line-height: 1em;
}
.midHeroContent button {
	background-color:rgba(164, 147, 165, 0.8);
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	border: 0;
	border-radius: 3px;
	padding: 12px;
	width: 185px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	margin-top: 10px;
}

.midHeroContent a button {
	color:#fff;
}
 .midHeroContent button:hover {
	background-color:rgba(164, 147, 165, 1);
	cursor: pointer;
}

.sectionShowcase {
	width: 100%;
	background-color: #fff;
}
.sectionShowcaseContainer {
	width: 920px;
	border-radius: 10px;
	margin-top: -100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.sectionShowcaseHeader {
	width: 60%;
	margin: 0 auto;
	padding-top: 40px;
}

.sectionShowcaseHeader h2{
	font-family: 'Selima';
	font-weight: normal;
	font-size: 60px;
	color:#5f4067;
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 0;
	line-height: 1em;
}

.sectionShowcaseHeader p {
	text-align: center;
		font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 14px;
	color:#231f20;
	line-height: 1.5em;
	margin-bottom: 5px;
}

.sectionShowcaseContent {
	overflow: hidden;
	margin-top: 15px;
	text-align: center;
}
.sectionShowcaseContent img.knob{
	height: 85px;
	margin-bottom: -20px;
}
.sectionShowcaseContent img.pull{
	height: 85px;
	margin-top: -15px;
}
.sectionShowcaseContent .topSection{
	overflow: hidden;
	background-size: 50%;
	background-position: right center;
	background-repeat: no-repeat;
}
.topSectionRightBorder,
.bottomSectionLeftBorder {
	width: 98%;
	margin: auto;
	height: 98%;
	border: 1px solid #fff;
} 
.sectionShowcaseContent .bottomSection {
	overflow: hidden;
	background-size: 50%;
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
}

.sectionShowcaseContent .topSection div,
.sectionShowcaseContent .bottomSection div{
	float: left;
	width: 50%;
	text-align: left;
}

.sectionShowcaseContent .topSection h4,
.sectionShowcaseContent .bottomSection h4
 {
	font-family: 'Selima';
	font-weight: normal;
	font-size: 60px;
	color:#5f4067;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1em;
	text-align: left;
}
.sectionShowcaseContent .topSection p,
.sectionShowcaseContent .bottomSection p {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 14px;
	color:#231f20;
	line-height: 1.5em;
	margin-bottom: 5px;
	width: 95%;
	text-align: left;
}


.sectionShowcaseContent .topSection h6,
.sectionShowcaseContent .bottomSection h6 {
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:rgba(53, 52, 46, 0.6);
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 10px;
	text-align: left;
}
.sectionShowcaseContent .topSectionLeft {
	border-top-left-radius:30px;
	background-color: #f2efec;
	padding: 66px;
}
.sectionShowcaseContent .topSectionLeft a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;
	text-align: left;
}

.sectionShowcaseContent .bottomSectionRight {
	border: 0;
	border-bottom-right-radius:30px;
	background-color: #f2efec;
	padding: 66px;
}
.sectionShowcaseContent .bottomSectionRight a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;
}


.sectionShowcaseContent .bottomSectionRight {
	float: right !important;
}


.showcaseRetailers {
	margin-top: 50px;
	text-align: center;
	padding-bottom: 50px;
}
.showcaseRetailers h4 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 40px;
	color:#d7b34d;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}
.retailerIcons {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}
.retailerIcons img{
	width: 16.666%;
	float: left;
}


/*ABOUT PAGE*/
.aboutHero {
	margin-top: 100px;
	height: 600px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 1%;
	position: relative;
	z-index: 1;
}
.aboutHeroContent {
	width: 85%;
	margin: 0 auto;
	margin-top: 200px;
	background-color:rgba(255, 255, 255, 0.75) ;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.aboutHeroContentWrapper {
	width: 70%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}
.aboutHeroContent h1 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 1.5px;
    font-size: 54px;
    color: #5f4067;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 15px;
}

.aboutHeroContent p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 14px;
    color: #5f4067;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    width: 80%;
    margin: 0 auto;
}
.aboutHeroContent li {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	padding-bottom: 50px;
}
.aboutHeroContent li {
	text-align:right;
	padding-right: 20px;
}
.aboutHeroContent li a button {
	background-color:#b2a3b2;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border: 0;
	border-radius: 2px;
	width: 145px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	margin-top: 8px;
	display: inline-block;
	vertical-align: top;
}
.aboutHeroContent li.contactBtn {
	text-align: left;
	padding-left: 20px;
}
.aboutHeroContent li.contactBtn a button {
	background-color:#453048;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	width: 145px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	padding: 9px 14px;
	margin-top: 8px;
}

.lifestyleSection {
	overflow: hidden;
	background-size: 25% 80%;
	background-position: left top;
	background-repeat: no-repeat;
	padding-top: 180px;
}
.exploreInstagram {
	float: right;
	width: 70%;
	background-color: #fff;
	padding-bottom: 50px;
}
.exploreInstagramWrapper {
	padding-left: 70px;
	padding-right: 20px;
}
.exploreInstagramHeader {
	padding-bottom: 10px;
}

.exploreInstagramHeader h5 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 16px;
    color: #231f20;
    margin-bottom: 0;
    padding-bottom: 0;
}
.exploreInstagramHeader h2 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 0.75px;
    font-size: 40px;
    color: #231f20;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    padding-bottom: 0;
}
.gridThree {
	overflow: hidden;
}
.gridThree > div {
	float: left;
	width: 33.3%;
	padding: 20px;
	text-align: center;
}
.gridThree > div img {
	width: auto;
	max-height: 200px;
	padding: 10px 10px 10px 0;
	text-align: left;
}
.gridThree > div p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 12px;
    color: #5f4067;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.gridThree > div a button {
	background-color:#b2a3b2;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border: 0;
	border-radius: 2px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	margin-top: 8px;
	width: 70px;
}
.gridThree > div .instagramProductTitle {
	height: 30px;
}
/*WOOCOMMERCE*/
body.single-product #header,
body.post-type-archive-product #header {
	background-color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
}

/*SINGLE PRODUCT PAGE*/
body.single-product p.price {
	display: none;
}
body.single-product .product_meta {
	display: none;
}

body.single-product .sf-menu {
	text-align: right;
}
body.single-product #search-box {
	width: 35px;
}
.productHero {
	margin-top: 86px;
	height: 300px;
	width: 100%;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-top: 1%;
	position: relative;
	z-index: 1;
}
.productContainer {
	width: 85%;
	margin: 0 auto;
}
body.single-product .woocommerce-breadcrumb {
	position: absolute;
	z-index: 3;
	top:220px;
	padding-left: 10px;

	font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    color: #fff;
}
body.single-product .woocommerce-breadcrumb a {
    color: #fff;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
body.single-product div.product {
	margin-top: -125px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
body.single-product div.images {
	margin-right: 1.5%;
	background-color: #fff;
	height: 600px;
	border-radius: 10px;
	padding: 25px;
	width: 60% !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
body.single-product .single-product-main-image img {
	margin: auto;
	width: 75% !important;
	padding:40px !important;
}
body.single-product div.thumbnails {
	margin-top: 20px;
}
body.single-product div.thumbnails img {
	width: 100% !important;
}
body.single-product div.summary {
	background-color: #fff;
	height: 600px;
	border-radius: 10px;
	padding: 30px 35px 25px;
	width: 38.5% !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
} 
body.single-product div.summary h3 {
	display: none;
}
body.single-product h1.product_title.entry-title {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 40px;
	color:#231f20;
	-webkit-font-smoothing: antialiased;
	padding-bottom: 10px;
}
body.single-product div.summary p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 14px;
    color: #272425;
    line-height: 1.5em;
    width: 90%;
}
body.single-product form.variations_form.cart {
	margin-top: 20px;
	margin-bottom: 10px !important;
}
body.single-product div.product form.cart .variations td.label {
	font-family: 'Proxima Nova';
    font-weight: bold;
    color: rgba(145, 144, 141, 0.7);
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    line-height: 1em;
    padding-bottom: 5px;
}

body.single-product div.product form.cart .variations td.value {
	display: block;
}
body.single-product div.product form.cart .variations select {
	border: 1px solid rgba(145, 144, 141, 0.4);
	border-radius: 0;
	font-family: 'Proxima Nova';
    font-weight: normal;
    color: rgba(145, 144, 141, 0.8);
    font-size: 11px;
    height: 25px;
    margin-bottom:13px;
    letter-spacing: 0.01em;
}
body.single-product input.input-text.qty.text {
	border: 1px solid rgba(145, 144, 141, 0.4);
	border-radius: 0;
	font-family: 'Proxima Nova';
    font-weight: normal;
    color: rgba(145, 144, 141, 0.8);
    font-size: 11px;
    height: 25px;
    margin-bottom:13px;
    letter-spacing: 0.01em;
}
body.single-product button.single_add_to_cart_button.button.alt {
	background-color: #453048;
	font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0;
    border-radius: 2px;
    width: 130px;
    height: 26px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #fff;
}
body.single-product table.mailbox-specifications tr > td {
	font-family: 'Proxima Nova';
    font-weight: bold;
    color: rgba(145, 144, 141, 0.7);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1em;
    padding-bottom: 5px;
    margin-top: 10px;
}
body.single-product table.mailbox-specifications tr > td:last-child {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 11px;
    color: #272425;
    letter-spacing: 1px;
}


/*CATEGORY PAGE*/

body.post-type-archive-product nav.woocommerce-breadcrumb {
	display: none;
}
body.post-type-archive-product form.woocommerce-ordering {
	display: none;
}
body.post-type-archive-product h1.page-title{
	display: none;
}
body.post-type-archive-product .woocommerce-result-count{
	display: none;
}
body.post-type-archive-product div#sidebar{
	display: none;
}
body.post-type-archive-product ul.products li.product .price {
	display: none;
}
.catHero {
	margin-top: 86px;
	height: 500px;
	width: 100%;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-top: 1%;
	position: relative;
	z-index: 1;
}
.catHeroContent {
	padding-top: 60px;
	width: 550px;
	margin: 0 auto;
	margin-left: 300px;
	color:#fff;
}

.catHeroContent h2 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 40px;
	color:#fff;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1em;
}
.catHeroContent h1 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 3.5px;
	font-size: 92px;
	color:#fff;
	margin-top: 0;
	padding-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}
.catHeroContent p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    line-height: 1.75em;
    -webkit-font-smoothing: antialiased;
}

body.post-type-archive-product ul.products {
	margin-left: 300px;
	padding-top: 20px;
}
body.post-type-archive-product ul.products li.product {
	margin: 0;
	width: 33.3%;
	padding: 40px 60px 60px;
	background-color: rgba(242, 239, 236, 0.35);
	border: 3px solid #fff;
}
body.post-type-archive-product ul.products li.product h3 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.02em;
    color:#231f20;
    padding-bottom: 0;
}

body.post-type-archive-product a.button.product_type_variable.add_to_cart_button {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #5f4067;
    background-color: transparent;
    padding: 0;
    margin-top: 0;
}
.sidebarFilter {
	background-color: #f2efec;
	width: 220px;
	height: 500px;
	position: fixed;
	z-index: 99;
	top:205px;
	left: 20px;

}
.sidebarFilterBorder {
	height: 40px;
	background-size: cover;
	background-position: center center;
	width: 100%;
}
.sidebarFilterWrapper {
	padding:20px;
}
.sidebarFilter h4 {
	font-family: 'Proxima Nova';
    font-weight: bold;
    color: rgba(145, 144, 141, 0.7);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 5px;
}
.sidebarFilter ul li a {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 12px;
    color:#231f20;
}
.sidebarFilter ul li {
	overflow: hidden;
	line-height: 1.2em;
}
small.count {
	float: right;
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 12px;
    color:rgba(53, 52, 46, 0.6);
}

/*FOOTER */

footer {
	background-color: #a493a5;
	position: relative;
	z-index: 100;
}
.footerWrapper {
	width: 970px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.footerLogo {
	text-align: center;
	padding-top: 30px;
}
.footerLogo img.logo {
	width: 240px;
	margin: 0 auto;
}
.footerLinks {
	padding-top: 50px;
	text-align: center;
	width: 970px;
	overflow: hidden
}
.footerLinks > div {
	width: 33.3%;
	float: left;
}
.footerLinks ul {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.footerLinks ul li {
	text-align: left;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color:#fff;
	line-height: 2.5em;
}
.footerLinks ul li a {
	color:#fff;
}
.footerLinks ul h6 {
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.footerLinkContact li a button {
	background-color:rgba(255, 255, 255, 0.15);
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border: 0;
	border-radius: 2px;
	width: 130px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	margin-top: 8px;

}

.footerLinkContact li.contactBtn a button {
	background-color:#453048;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	width: 130px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	padding: 9px 14px;
	margin-top: 8px;
}


/*MOBILE*/

@media screen and (max-width:970px){

	/*MOBILE MENU*/

	.sf-menu {
		background-color: #5f4067 !important;
	}
	.sf-menu li {
		margin-right: 0;
	}

	/*HOMES PAGE*/
	.homeHero {
		height: 420px;
	}
	.homeHeroContent {
		padding-top: 110px;
	}
	.homeHeroContent h1 {
		font-size: 84px;
	}
	.homeHeroContent h4 {
		font-size: 26px;
	}

	.homeSectionOneRight {
		float: none;
		width: 100%;
		padding: 30px;
	}
	.homeSectionOneRightText {
		width: 100%;
	}
	.homeSectionOneRight {
		float: none;
		width: 100%;
	}
	.homeSectionTwoLeft {
		float: none;
		width: 100%;
		padding: 60px 10px;
	}
	.homeSectionTwoLeftText {
		width: 90%;
	}
	.newsletterSection {
		height: 160px;
	}
	.newsletterSectionWrapper {
		width: 100%;
		padding-top: 15px;
	}
	.midHero {
		height: 460px;
	}
	.midHeroContent {
		padding-top: 40px;
	}

	.midHeroContent h1 {
		font-size: 84px;
	}

	.sectionShowcaseContainer {
		width: 100%;
	}
	.sectionShowcaseHeader {
		width: 90%;
	}
	.sectionShowcaseHeader h2 {
		font-size: 44px;
		margin-bottom: 30px;
	}
	.sectionShowcaseContent .topSection {
		background-size: 100%;
		background-position: bottom center;
	}
	.sectionShowcaseContent .bottomSection  {
		background-size: 100%;
		background-position: top center;
	}
	.sectionShowcaseContent .topSectionLeft,
	.sectionShowcaseContent .bottomSectionRight {
		padding: 40px;
		border-top-left-radius:0;
		border-bottom-right-radius:0;
	}
	.sectionShowcaseContent .topSection div, .sectionShowcaseContent .bottomSection div {
		float: none;
		width: 100%;
	}
	.sectionShowcaseContent .topSection  .topSectionRight {
		height: 300px;
	}
	.sectionShowcaseContent .bottomSection .bottomSectionLeft {
		height: 300px
	}
	.topSectionRightBorder {
		display: none;
	}
	.retailerIcons {
		width: 90%;
	}
	.showcaseRetailers {
		margin-top: 20px;
	}

	.aboutHeroContent {
		margin-top: 15px;
		width: 95%;
	}
	.aboutHeroContentWrapper {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.aboutHeroContent h1 {
		font-size: 34px;
	}
	.lifestyleSection {
		padding-top: 0;
		background: none;
	}
	.exploreInstagram {
		float: none;
		width: 100%;
	}
	.exploreInstagramWrapper {
		padding: 25px;
		padding-top: 60px;
	}
	.exploreInstagramHeader h2 {
		font-size: 30px;
	}
	.gridThree > div {
		float: none;
		width: 100%;
	}


	/*CATEGORY PAGE*/
	.sidebarFilter {
		display: none;
	}
	.catHero {
		height: 420px;
	}
	.catHeroContent {
		width: 90%;
		margin-left: auto;
		padding-top: 30px;
	}
	.catHeroContent h2 {
		font-size: 30px;
	}
	.catHeroContent h1 {
		font-size: 64px;
	}
	body.post-type-archive-product ul.products {
		width: 100%;
		margin-left: auto;
		padding-top: 0;
	}
	body.post-type-archive-product ul.products li.product {
		width: 100%;
	}

	/*PRODUCT PAGE */

	.productHero {
		height: 215px;
	}
	.productContainer {
		width: 95%;
	}
	body.single-product .woocommerce-breadcrumb {
		top:125px;
	}
	body.single-product div.images {
		width: 100% !important;
		height: 350px;
	}
	body.single-product .single-product-main-image img {
		padding: 25px !important;
	}
	body.single-product div.summary {
		width: 100% !important;
		height: 570px;
	}

	/*FOOTER*/
	.footerWrapper {
		width: 100%;
		padding-bottom: 0;
	}
	.footerLinks {
		width: 100%;
		padding-top: 30PX;
	}
	.footerLinks > div {
		width: 100%;
		margin-bottom: 40px;
	}
	.footerLinks ul h6 {
		text-align: center;
		font-size: 12px;
	}
	.footerLinks ul li {
		text-align: center;
	}
	.footerLogo img.logo {
		width: 200px;
	}
}
