@charset "utf-8";
/* CSS Document */
body
{
					overflow-x: hidden;	
}

/* Clearfix */
.clearfix:after
{
					visibility: hidden;
					display: block;
					font-size: 0;
					content: " ";
					clear: both;
					height: 0;
}

* html .clearfix
{
					zoom: 1;
} /* IE6 */

*:first-child+html .clearfix
{
					zoom: 1;
} /* IE7 */
/* end Clearfix */

.container
{
					position: relative;
					margin: auto;
}

.text-center
{
					text-align: center;
}

.uppercase
{
					text-transform: uppercase
}

.droidserif
{
					font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif; 
}

img.alignright { float: right; margin: 0 0 24px 24px; }
img.alignleft { float: left; margin: 0 24px 24px 0; }
img.aligncenter { display: block; margin: 0 auto 24px auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.img-responsive	
{
					display: block;
					height: auto;
					max-width: 100%;
					-webkit-transition: opacity 0.3s ease-out;
					   -moz-transition: opacity 0.3s ease-out;
					     -o-transition: opacity 0.3s ease-out;
					        transition: opacity 0.3s ease-out;
}

a.img-responsive:hover,	
a.img-responsive:active
{
					opacity: 0.6;
}

.wow 
{
   					visibility: hidden;
}

.ptop60px
{
					padding-top: 60px;
}

/* DEFAULT FORM */
.default input,
.default textarea
{
					position: relative;
					display: block;
					width: 100% !important;
					padding: 7px 24px !important;
					margin-bottom: 18px !important;
					border: 1px solid rgba(94,44,108,0.4);
					background-color: rgba(255,255,255,0.4);
					line-height: 37px !important;
					-webkit-transition: all 0.3s ease-out;
					   -moz-transition: all 0.3s ease-out;
					     -o-transition: all 0.3s ease-out;
					        transition: all 0.3s ease-out;
}


.default .send-message {
					display: inline-block;
					width: auto !important;	
}

.gform_footer.top_label {
					display: none !important;	
}

.default textarea
{
					height: auto;
					margin-bottom: 1.667em;
}

::-webkit-input-placeholder 
{
					color: #000;
					opacity: 0.5;
}

:-moz-placeholder
{
					color: #000;
					opacity: 0.5;
}

::-moz-placeholder
{
					color: #000;
					opacity: 0.5;
}

:-ms-input-placeholder
{
					color: #000;
					opacity: 0.5;
}

.default input:focus,
.default textarea:focus
{
					opacity: 1;
					background-color: #fff;
}

.select-box
{
					
					position: relative;
					display: block;
					width: 100%;
					height: 36px;
					padding-left: 12px;
					padding-right: 36px;
					margin-bottom: 18px;
					border: 1px solid #d8d8d8;
					background: #fff url(../images/icon-Arrow-select.png) no-repeat right center;
					color: rgba(0,0,0,0.89);
					line-height: 36px;
					-webkit-transition: all 0.3s ease-out;
					   -moz-transition: all 0.3s ease-out;
					     -o-transition: all 0.3s ease-out;
					        transition: all 0.3s ease-out;
}

.select-box .active
{
					display: block;
					overflow: hidden;
}

.select-box select
{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 36px;
					background-color: #fff;
					border: 1px solid transparent;
					z-index: 9;
					cursor: pointer;
}

.select-box select option
{
					padding: 6px;
					font-size: 14px;
					font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif;
}
/* end DEFAULT FORM */

a.default-btn,
input.default-btn
{
					display: inline-block;
					width: auto;
					padding: 12px 36px;
					margin-bottom: 24px;
					background-color: #5e2c6c;
					border: 2px solid #5e2c6c;
					color: #fff;
					text-transform: uppercase;
					text-align: center;
					font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif; 
					-webkit-transition: all 0.3s ease-out;
					   -moz-transition: all 0.3s ease-out;
					     -o-transition: all 0.3s ease-out;
					        transition: all 0.3s ease-out;
}

input.default-btn
{
					line-height: 36px;
					padding: 9px 26px;
					margin-top: 12px;
					margin-bottom: 12px;
					cursor: pointer
}

a.transp.default-btn,
input.transp.default-btn
{
					display: inline-block;
					background-color: transparent;
					color: #5e2c6c;
					-webkit-transition: all 0.3s ease-out;
					   -moz-transition: all 0.3s ease-out;
					     -o-transition: all 0.3s ease-out;
					        transition: all 0.3s ease-out;
}

a.default-btn:hover,
input.default-btn:hover,
a.default-btn:active,
input.default-btn:active
{
					background-color: #5e2c6c;
					border-color: #5e2c6c;
					color: #fff;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ------------------------------------------> HEADER <------------------------------------------- */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
#header
{
					position: fixed;
					top: 0;
					left: 0;
					display: table;
					table-layout: fixed;
					width: 100%;
					padding-top: 18px;
					padding-bottom: 18px;
					font: 400 14px/1em 'Droid Serif', Georgia, "Times New Roman", Times, serif; 
					z-index: 991;
					-webkit-transition: all 1s ease;
					   -moz-transition: all 1s ease;
					     -o-transition: all 1s ease;
					        transition: all 1s ease;
}

#header .container
{
					display: table;
					table-layout: fixed;
}

#header a 
{
					color: #000;
}

#header a:hover,
#header a:active
{
					color: #5e2c6c;
}

#header h1.logo
{
					display: table-cell;
					vertical-align: middle;
					width: 200px;
					padding-bottom: 0;
}

#header h1.logo img
{
					margin-bottom: 0;
					-webkit-transition: all 1s ease;
					   -moz-transition: all 1s ease;
					     -o-transition: all 1s ease;
					        transition: all 1s ease;
}

#header h1.logo img:hover,
#header h1.logo img:active
{
					opacity: 0.7;
}

/* Search box */
#search-box
{
					position: relative;
					display: table-cell;
					vertical-align: middle;
					width: 132px;
					cursor: pointer;
}

#search-form
{
					position: absolute;
					top: 16px;
					right: -6px;
					overflow: hidden;
					z-index: 10

}

#search-form input
{
					right: -310px;
					position: relative;
					display: inline-block;
					width: 306px;
					padding: 3px 84px 3px 12px;
					background-color: #fff;
					line-height: 30px;
					-webkit-transition: all 1s ease;
					   -moz-transition: all 1s ease;
					     -o-transition: all 1s ease;
					        transition: all 1s ease;
  					/*-webkit-box-shadow: 0 6px 6px rgba(0,0,0,.2);
					   -moz-box-shadow: 0 6px 6px rgba(0,0,0,.2);
  							box-shadow: 0 6px 6px rgba(0,0,0,.2);*/
}

#search-form input:focus,
#search-form textarea:focus
{
					color: #000;
}

#search-box a.search
{
					position: absolute;
					top: 0;
					right: 70px;
					display: block;
					height: 36px;
					padding: 11px 30px 11px 0;
					background: url(../images/icon-Magnifier.png) no-repeat right 6px;
					float: right;
					color: #000;
					-webkit-transition: all 0.3s ease-out;
					   -moz-transition: all 0.3s ease-out;
					     -o-transition: all 0.3s ease-out;
					        transition: all 0.3s ease-out;
}

#search-box a.search:hover,
#search-box a.search:active
{
					opacity: 0.7
}
/* end Search box */

/* MENU */
#site-menu
{
					display: table-cell;
					vertical-align: middle;
					padding-left: 24px;
					padding-right: 24px;
					text-align: center;
					color: #000;
}

.sf-menu, .sf-menu * 
{
					display: block;
					list-style-type: none;
					margin: 0;
					padding: 0;
}

.sf-menu li 
{
					position: relative;
					display: inline-block;
					margin-left: 24px;
					margin-right: 24px;
					padding-bottom: 0;
}

.sf-menu ul li
{
					display: block;
					margin-left: 0;
}

.sf-menu ul 
{
					position: absolute;
					display: none;
					top: 100%;
					left: -24px;
					padding: 12px 24px;
					z-index: 99;
					background-color: rgba(94,44,108,0.97);
  					-webkit-box-shadow: 0 6px 6px rgba(0,0,0,.2);
					   -moz-box-shadow: 0 6px 6px rgba(0,0,0,.2);
  							box-shadow: 0 6px 6px rgba(0,0,0,.2);
					min-width: 14em; 
					*width: 14em; 
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul 
{
					/*display: block*/;
}

.sf-menu ul ul 
{
					top: 0;
					left: 100%;
}

.sf-menu a 
{
					display: block;
					position: relative;
					padding-top: 11px;
					padding-bottom: 11px;
					text-transform: uppercase;
					font-weight: 500;
					text-transform: uppercase;
					-webkit-transition: all 0.3s ease-out;
					   -moz-transition: all 0.3s ease-out;
					     -o-transition: all 0.3s ease-out;
					        transition: all 0.3s ease-out;
					zoom: 1;
}

#header .sf-menu li.current a
{
					color: #5e2c6c;
}

#header .sf-menu li li a,
#header .sf-menu li.current li a
{
					text-align: left;
					color: #fff;
}

.sf-menu li.current a:before,
.sf-menu li a:before,
.sf-menu li a:before
{
					position: absolute;
					left: 0;
					right: 0;
					bottom: 2px;
					height: 2px;
					content: '';
					opacity: 0;
					-webkit-transition: all 0.5s ease;
					   -moz-transition: all 0.5s ease;
					     -o-transition: all 0.5s ease;
					        transition: all 0.5s ease;
					-webkit-transform: translateX(-400px);
					   -moz-transform: translateX(-400px);
					   	-ms-transform: translateX(-400px);
						 -o-transform: translateX(-400px);
						    transform: translateX(-400px);
}

.sf-menu li.current a:before,
.sf-menu li a:hover:before,
.sf-menu li a:active:before
{
					opacity: 1;
					background-color: #5e2c6c;
					-webkit-transform: translateX(0);
					   -moz-transform: translateX(0);
					   	-ms-transform: translateX(0);
						 -o-transform: translateX(0);
						    transform: translateX(0);
}

.sf-menu li li a:before
{
					display: none;
}

.sf-menu li li a:hover,
.sf-menu li li a:active
{
					opacity: 0.7;
}
/* end MENU */

/* Shrink */
.shrink#header
{
					position: fixed;
					left: 0;
					top: 0;
					background-color: #fff;
  					-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
					   -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
  							box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.shrink#header #search-form input
{
					background-color: #eee;
}
/* end Shrink */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ----------------------------------------> end HEADER <----------------------------------------- */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ---------------------------------------> MAIN CONTENT <---------------------------------------- */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */


/* 	-----------------------------------------------------------------------------------------------
++ 	FEAT.AREA
	----------------------------------------------------------------------------------------------- */
#nmSlider
{
					position: relative;
					width: 100%;
					height:100% !important;
}

#nmSlider .container
{
					position: relative;
					display: table;
					table-layout: fixed;
					padding: 168px 0 24px 0;
					z-index: 990;
}

#nmSlider .col
{
					position: relative;
					display: table-cell;
					vertical-align: middle;
					width: 50%;
					padding:20px;
}
#nmSlider .col.text{padding-right:55px;}
#nmSlider .image .nm-slide
{
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					background-repeat: no-repeat;
					background-position: right center;
					-webkit-background-size: contain;
					   -moz-background-size: contain;
						-ms-background-size: contain;
        				 -o-background-size: contain;
    						background-size: contain;
}

#nmSlider h2
{
					padding-bottom: 0;
					font-size: 46px;
					line-height: 54px;
					font-weight: 400;
					color: rgba(0,0,0,0.85);
}

#nmSlider p
{
					padding-bottom: 24px;
					font-size: 16px;
					padding-top:20px;
					line-height: 24px;
					font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif; 
}

#nmSlider a.default-btn
{
					display: inline-block;
					padding: 18px 36px;
					margin-bottom: 12px;
					margin-right: 12px;
					font-size: 16px;
					line-height: 24px;
}

/*#nmSlider
{
					position: relative;
					width: 100%;
					height: 100vh;
}

.nm-slide
{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
}

.nm-slide .container
{
					position: absolute;
				  	top: 50%;
				  	left: 50%;
					display: table;
					table-layout: fixed;
					padding: 168px 0 24px 0;
					z-index: 990;
					-webkit-transform: translate(-50%, -50%);
				       -moz-transform: translate(-50%, -50%);
				        -ms-transform: translate(-50%, -50%);
				         -o-transform: translate(-50%, -50%);
				            transform: translate(-50%, -50%);
}

.nm-slide .col
{
					display: table-cell;
					vertical-align: middle;
					width: 50%;
}

.nm-slide .image img
{
					float: right;
}

.nm-slide h2
{
					padding-bottom: 24px;
					font-size: 50px;
					line-height: 54px;
					font-weight: 400;
					color: rgba(0,0,0,0.85);
}

.nm-slide p
{
					padding-bottom: 24px;
					font-size: 16px;
					line-height: 24px;
					font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif; 
}

.nm-slide a.default-btn
{
					display: inline-block;
					padding: 18px 36px;
					margin-bottom: 12px;
					margin-right: 12px;
					font-size: 16px;
					line-height: 24px;
}

.nm-dirNav a 
{
					position:absolute;
					top:50%;
					width: 27px;
					height: 47px;
					text-indent: -999em;
					z-index:990;
					cursor:pointer;
					-webkit-transition: opacity 0.3s ease-out;
					   -moz-transition: opacity 0.3s ease-out;
					     -o-transition: opacity 0.3s ease-out;
					        transition: opacity 0.3s ease-out;
}

.nm-dirNav a.prev 
{
					left:5%;
					background: url(../images/icon-Arrow-prev.png) no-repeat center center;
}

.nm-dirNav a.next 
{
					right:5%;
					background: url(../images/icon-Arrow-next.png) no-repeat center center;
}

.nm-dirNav a:hover,
.nm-dirNav a:active
{
					opacity: 0.6;
}*/
/* 	-----------------------------------------------------------------------------------------------
++ 	end FEAT.AREA
	----------------------------------------------------------------------------------------------- */

main[role="main"]
{
					padding-top: 168px
}

.section
{
					position: relative;
					padding-top: 60px;
					padding-bottom: 60px;
}

.section.bgImg
{
					background-repeat: no-repeat;
					background-position: center center;
					-webkit-background-size: cover;
					   -moz-background-size: cover;
						-ms-background-size: cover;
        				 -o-background-size: cover;
    						background-size: cover;
}

h2.main-title:before
{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					display: block;
					height: 25px;
					background-image: url(../images/border-title.png);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					content: ''
}

h2.main-title
{
					position: relative;
					padding-bottom: 36px;
					margin-bottom: 36px;
					font-size: 36px;
					line-height: 48px;
					text-align: center;
					font-weight: 400;
					color: rgba(0,0,0,0.89);
}

img.main-image
{
					margin-top: 36px;
					margin-bottom: 0;
}

.contact .col
{
					width: 49.6%;
					padding-top: 24px;
					padding-bottom: 24px;
					float: left;
}

.contact .col:first-child
{
					width: 44.375%;
					float: right;
}

.contact .info
{
					font-size: 15px;
}

.contact .info p
{
					padding-bottom: 12px;
}

.contact .info img
{
					display: inline-block;
					vertical-align: middle;
					margin-right: 12px;
					border: 1px solid #5e2c6c;
}

/* Products entries */
.products-entries
{
					padding-bottom: 60px
}

a.prod-entry
{
					display: block;
					width: 25%;
					padding: 12px;
					float: left;
					-webkit-transition: all 0.3s ease-out;
					   -moz-transition: all 0.3s ease-out;
					     -o-transition: all 0.3s ease-out;
					        transition: all 0.3s ease-out;
					height:0;
					position:relative;
					padding-top:40%;
}
a.prod-entry img{position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
a.prod-entry h3
{
					padding: 0 36px;
					font-size: 14px;
					line-height: 24px;
					color: #000;
					font-weight: 400;
					text-align: center;
}

a.prod-entry:nth-child(4n+1)
{
					clear: both;
}

a.prod-entry:hover img,
a.prod-entry:active img
{
					opacity: 0.6;
}

a.prod-entry:hover h3,
a.prod-entry:active h3
{
					color: #5e2c6c;
					text-shadow: rgba(255,255,255,0.5) 0 1px 0;
}

aside .products-entries
{
					padding-bottom: 24px;
}

aside a.prod-entry
{
					padding: 12px 18px;
					padding-top:40%;
}
/* end Products entries */

/* Product details */
#product
{
					font-size: 14px;
					line-height: 24px;
}

#product .details
{
					width: 45.7%;
					float: right;
}

#product .images
{
					width: 44.6%;
					float: left;
}

#product h1
{
					padding-bottom: 18px;
					margin-bottom: 18px;
					border-bottom: 1px solid rgba(0,0,0,0.2);
}

#product .options,
#product .dimensions
{
					display: table;
					table-layout: fixed;
					width: 100%;
					padding-bottom: 24px;
}

#product .dimensions
{
					color: rgba(0,0,0,0.89);
}

#product .options .col,
#product .dimensions .col
{
					display: table-cell;
					padding-left: 12px;
					vertical-align: middle;
}

#product .options .col:first-child
{
					width: 52px;
					padding-left: 0;
}

#product .dimensions .col:first-child
{
					padding-left: 0;
}

#product .options .label
{
					font-size: 16px;
					line-height: 38px;
					margin-bottom: 12px;
}

#product .dimensions .label
{
					font-size: 16px;
					padding-right: 12px;
}

#product .info
{
					padding-top: 24px;
					margin-top: 12px;
					border-top: 1px solid rgba(0,0,0,0.2);
}

#product .info h4
{
					padding-bottom: 12px;
					font-weight: 400;
}

#product .owl-carousel img
{
					border: 1px solid #d8d8d8;
					-webkit-transition: all 0.3s ease-out;
					   -moz-transition: all 0.3s ease-out;
					     -o-transition: all 0.3s ease-out;
					        transition: all 0.3s ease-out;
}

#product .owl-carousel a:hover img,
#product .owl-carousel a:active img
{
					border-color: #5e2c6c;
					background-color: rgba(255,255,255,0.4);
}
/* end Product details */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ------------------------------------------> FOOTER <------------------------------------------- */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
#footer
{
					background-color: rgba(255,255,255,0.12);
					border-top: 1px solid #cbcbcb;
					font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif; 
					font-size: 12px;
					line-height: 18px;
}

#footer.alt
{
					margin-bottom: 24px;
					border-bottom: 1px solid #cbcbcb;
}

#footer .col
{
					width: 42%;
					padding-top: 12px;
					padding-bottom: 12px;
					float: right;
}

#footer .col.middle
{
					width: 16%;
					padding-top: 0;
					padding-bottom: 0;
					background-color: #5e2c6c;
}

#footer .col.middle img
{
					margin-bottom: 0;
}

.social-media
{
					list-style-type: none;
					padding-bottom: 0;
					float: right
}

.social-media li
{
					display: inline-block;
					padding-bottom: 0;
					margin-left: 0;
}

.social-media li.title
{
					margin-right: 12px;
}

.social-media li img
{
					margin-bottom: 0;
					vertical-align: middle
}

.social-media li a:hover,
.social-media li a:active
{
					opacity: 0.6;
					-webkit-transition: opacity 0.3s ease-out;
					   -moz-transition: opacity 0.3s ease-out;
					     -o-transition: opacity 0.3s ease-out;
					        transition: opacity 0.3s ease-out;
}

#copyright a
{
					color: #000;
}

#copyright a:hover,
#copyright a:active
{
					opacity: 0.8
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ----------------------------------------> end FOOTER <----------------------------------------- */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */