/*
Theme Name: successean
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: successean
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

successean is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}



/*--------------------------------------------------------------
## Redesign
--------------------------------------------------------------*/
ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.sf-menu {
	text-align: left;
}
.sf-menu li {
	font-family: 'Proxima Nova';
	letter-spacing: 2px;
	font-size: 13px;
}
.homeHero {
	height: 700px;
	width: 100%;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
.homeHeroContent {
	padding-top:150px;
	width: 100%;
	text-align: center;
}
.homeHeroContent h1 {
	font-family: 'Selima';
	font-weight: normal;
	font-size: 130px;
	color:#5f4067;
	margin-bottom: 0;
	padding-bottom: 0;
}
.homeHeroContent h4 {
	font-family: 'Proxima Nova Th';
	font-size:40px;
	font-weight: 100;
	letter-spacing: 1px;
	color:#5f4067;
	text-transform: lowercase;
	-webkit-font-smoothing: antialiased;
}
.homeHeroContent button {
	background-color:rgba(164, 147, 165, 0.8);
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	border: 0;
	border-radius: 3px;
	padding: 12px;
	width: 185px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
}

.homeHeroContent a button {
	color:#fff;
}
 .homeHeroContent button:hover {
	background-color:rgba(164, 147, 165, 1);
	cursor: pointer;
}

.homeSectionOne {
	overflow: hidden;
	background-size: 35%;
	background-position: left center;
	background-repeat: no-repeat;
}
.homeSectionOneLeft {
	float: left;
	width: 35%;
}
.homeSectionOneRight {
	float: right;
	width: 65%;
	background-color: #fff;
	padding: 30px 60px 100px 60px;
}
.homeSectionOneRightText {
	width: 70%;
}
.homeSectionOneRight h4 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 40px;
	color:#d7b34d;
	-webkit-font-smoothing: antialiased;
}

.homeSectionOneRight p {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 18px;
	color:#231f20;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	margin-bottom: 5px;
}
.homeSectionOneRight a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;

}
img.dash {
	width: 50px;
}


.homeSectionTwo {
	overflow: hidden;
	background-size: 35%;
	background-position: right center;
	background-repeat: no-repeat;
}
.homeSectionTwoRight {
	float: right;
	width: 30%;
}
.homeSectionTwoLeft {
	float: left;
	width: 70%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 100px 50px;
}

.homeSectionTwoLeftText {
	width: 70%;
	background-color: #fff;
	margin: 0 auto;
}

.homeSectionTwoLeft a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;

}
.homeSectionTwoLeftText {
	padding: 25px;
}
.homeSectionTwoLeftText h3 {
	font-family: 'Selima';
	font-weight: normal;
	color:#b53368;
	font-size: 46px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.homeSectionTwoLeftText p {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 14px;
	color:#231f20;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	margin-bottom: 5px;
	width: 90%;
}
.newsletterSection {
	height: 80px;
	width: 100%;
	background-color: #fff;
}

.newsletterSectionWrapper {
	width: 970px;
	margin: 0 auto;
	padding-top: 25px;
		text-align: center;
}

.newsletterSection h5 {
	font-family: 'Selima';
	font-weight: normal;
	color:#006471;
	font-size: 22px;
	letter-spacing: 2px;
	display: inline-block;
	vertical-align: top;
}
form.newsletterForm {
	display: inline-block;
	vertical-align: top;
}
form.newsletterForm input{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}
form.newsletterForm input[type="email"] {
		font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:rgba(35, 31, 32, 0.35);
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border:1px solid rgba(157, 184, 190, 0.55);
	width:160px;
	padding-top: 1px;
	padding-left: 8px;
	height: 32px;
}
form.newsletterForm input[type="submit"] {
	background-color:#9db8be;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border: 0;
	width: 85px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#fff;
	height: 32px;
	margin-left: -5px;
}
.midHero {
	height: 550px;
	width: 100%;
	background-size: cover;
	background-position: 85% center;
	background-repeat: no-repeat;
	padding-top: 1%;
}
.midHeroBorder {
	width: 98%;
	margin: auto;
	height: 98%;
	border: 1px solid #fff;
}
.midHeroContent {
	padding-top:75px;
	width: 100%;
	text-align: center;
}
.midHeroContent h1 {
	font-family: 'Selima';
	font-weight: normal;
	font-size: 130px;
	color:#fff;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1em;
}
.midHeroContent h4 {
	font-family: 'Proxima Nova Th';
	font-size:40px;
	font-weight: 100;
	letter-spacing: 1px;
	color:#fff;
	text-transform: capitalize;
	-webkit-font-smoothing: antialiased;
	margin-top: 0;
	padding-top: 0;
	line-height: 1em;
}
.midHeroContent button {
	background-color:rgba(164, 147, 165, 0.8);
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	border: 0;
	border-radius: 3px;
	padding: 12px;
	width: 185px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	margin-top: 10px;
}

.midHeroContent a button {
	color:#fff;
}
 .midHeroContent button:hover {
	background-color:rgba(164, 147, 165, 1);
	cursor: pointer;
}

.sectionShowcase {
	width: 100%;
	background-color: transparent;
}
.sectionShowcaseContainer {
	width: 920px;
	border-radius: 10px;
	margin-top: -100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

.sectionShowcaseHeader {
	width: 60%;
	margin: 0 auto;
	padding-top: 40px;
}

.sectionShowcaseHeader h2{
	font-family: 'Selima';
	font-weight: normal;
	font-size: 60px;
	color:#5f4067;
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 0;
	line-height: 1em;
}

.sectionShowcaseHeader p {
	text-align: center;
		font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 14px;
	color:#231f20;
	line-height: 1.5em;
	margin-bottom: 5px;
}

.sectionShowcaseContent {
	overflow: hidden;
	margin-top: 75px;
}

.sectionShowcaseContent .topSection{
	overflow: hidden;
	background-size: 50%;
	background-position: right center;
	background-repeat: no-repeat;
}
.topSectionRightBorder,
.bottomSectionLeftBorder {
	width: 98%;
	margin: auto;
	height: 98%;
	border: 1px solid #fff;
} 
.sectionShowcaseContent .bottomSection {
	overflow: hidden;
	background-size: 50%;
	background-position: left center;
	background-repeat: no-repeat;
}

.sectionShowcaseContent .topSection div,
.sectionShowcaseContent .bottomSection div{
	float: left;
	width: 50%;

}

.sectionShowcaseContent .topSection h4,
.sectionShowcaseContent .bottomSection h4
 {
	font-family: 'Selima';
	font-weight: normal;
	font-size: 60px;
	color:#5f4067;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1em;
}
.sectionShowcaseContent .topSection p,
.sectionShowcaseContent .bottomSection p {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 14px;
	color:#231f20;
	line-height: 1.5em;
	margin-bottom: 5px;
	width: 95%;
}


.sectionShowcaseContent .topSection h6,
.sectionShowcaseContent .bottomSection h6 {
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:rgba(53, 52, 46, 0.6);
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 10px;
}
.sectionShowcaseContent .topSectionLeft {
	border-top-left-radius:30px;
	background-color: #f2efec;
	padding: 66px;
}
.sectionShowcaseContent .topSectionLeft a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;
}

.sectionShowcaseContent .bottomSectionRight {
	border: 0;
	border-bottom-right-radius:30px;
	background-color: #f2efec;
	padding: 66px;
}
.sectionShowcaseContent .bottomSectionRight a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;
}


.sectionShowcaseContent .bottomSectionRight {
	float: right !important;
}


.showcaseRetailers {
	margin-top: 50px;
	text-align: center;
	padding-bottom: 50px;
}
.showcaseRetailers h4 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 40px;
	color:#d7b34d;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}
.retailerIcons {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}
.retailerIcons img{
	width: 16.666%;
	float: left;
}


/*FOOTER */

footer {
	background-color: #a493a5;
}
.footerWrapper {
	width: 970px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.footerLogo {
	text-align: center;
	padding-top: 30px;
}
.footerLogo img.logo {
	width: 240px;
	margin: 0 auto;
}
.footerLinks {
	padding-top: 50px;
	text-align: center;
	width: 970px;
	overflow: hidden
}
.footerLinks > div {
	width: 33.3%;
	float: left;
}
.footerLinks ul {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.footerLinks ul li {
	text-align: left;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color:#fff;
	line-height: 2.5em;
}
.footerLinks ul li a {
	color:#fff;
}
.footerLinks ul h6 {
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.footerLinkContact li a button {
	background-color:rgba(255, 255, 255, 0.15);
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border: 0;
	border-radius: 2px;
	width: 130px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#fff;
	margin-top: 8px;

}

.footerLinkContact li.contactBtn a button {
	background-color: #453048;
}


